.i18n-style {

  .vgo-input {
    height: 28px;
    box-sizing: border-box;
    padding: 4px 8px;
  }

  .vgo-button {
    display: inline-flex;
    gap: 4px;
    padding: 4px 8px;
    align-items: center;
    height: 28px;
    line-height: 1.4;
    svg {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }
    &.warning {
      background-color: #FF9800;
      color: white;
    }
    &.secondary {
      color: var(--vgo-primary);
      border: none;
      outline: 1px solid var(--vgo-primary);
      font-weight: 600;
    }
  }

  .actions-buttons-wrap {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
