:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


html, body, #app {
  height: 100%;
}

/**
Inspired by https://khang-nd.github.io/7.css/
 */
.page-craft-aero-panel {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.27), inset 0 0 0.5px #fff;
  .n-button {
    background-color: rgba(255, 255, 255, 0.71) !important;
  }

  &._dark {
    background-color: rgba(117, 117, 117, 0.6);
    color: white;
    .n-button {
      background-color: transparent !important;
    }
  }

}

.font-minecraft {
  font-family: Minecraft;
  font-size: 12px;
}

.font-code {
  font-family: 'Operator Mono', 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn-no-style {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  text-decoration: none;

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}


/* Vue transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.zoom-enter-active,
.zoom-leave-active {
  transform: scale(1) translateY(0);
  transition: opacity 0.3s, transform 0.3s;
}

.zoom-enter-from,
.zoom-leave-to {
  opacity: 0;
  transform: scale(0.92) translateY(10px);
  transition: opacity 0.3s, transform 0.3s;
}

.page-craft-window {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.27), inset 0 0 0.5px #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 6px 6px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: unset;
  //backdrop-filter: blur(4px);

  .page-craft-title-bar {
    margin-left: -6px;
    margin-right: -6px;
    padding: 0 6px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-shadow: 0 0 10px white;

    .page-craft-title-bar-text {
      margin-top: 4px;
    }
  }
  .page-craft-window-controls {
    border-radius: 0;
    display: flex;
    align-items: flex-start;

    button {
      margin-top: -1px;
      height: 24px;
      min-width: 30px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 0;
      background: rgba(255, 255, 255, 0.9);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .3s;

      & + button {
        border-left: 0;
      }

      &:hover {
        background: rgba(222, 222, 222, 1);
      }

      &:active {
        background: rgba(181, 181, 181, 0.46);
      }

      &.active {
        background: rgba(255, 105, 180, 0.8) !important;
      }
    }
  }

  .page-craft-window-body {
    border: 1px solid rgba(0, 0, 0, 0.6);
    &._bg {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }


  &._dark {
    background: rgba(117, 117, 117, 0.6);
    .page-craft-title-bar {
      color: white;
      text-shadow: 0 0 10px black;
    }
    .page-craft-window-body {
      &._bg {
        background-color: rgba(30, 30, 30, 0.8);
      }
    }

    .page-craft-window-controls {
      border-radius: 0;
      display: flex;
      align-items: flex-start;

      button {
        background: transparent;

        &:hover {
          background: rgba(227, 227, 227, 1);
        }

        &:active {
          background: rgba(109, 109, 109, 1);
        }
      }
    }
  }


}
