:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}


html, body, #app {
  height: 100%;
}

/**
Inspired by https://khang-nd.github.io/7.css/
 */
.page-craft-aero-panel {
  background-color: rgba(255, 255, 255, 0.6);
  //backdrop-filter: blur(2px);
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.27), inset 0 0 0.5px #fff;
  .n-button {
    background-color: rgba(255, 255, 255, 0.71) !important;
  }

  &._dark {
    background-color: rgba(43, 43, 43, 0.85);
    color: white;
    .n-button {
      background-color: transparent !important;
    }
    .n-input {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

}

.font-code {
  font-family: 'Operator Mono', 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.font-emoji {
  font-family: "Segoe UI Emoji", "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.btn-no-style {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  text-decoration: none;

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}


/* Vue transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.zoom-enter-active,
.zoom-leave-active {
  transform: scale(1);
  transition: opacity 0.3s, transform 0.3s;
}

.zoom-enter-from,
.zoom-leave-to {
  opacity: 0;
  transform: scale(0.92);
  transition: opacity 0.3s, transform 0.3s;
}

