:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}


html, body, #app {
  height: 100%;
}

/**
https://khang-nd.github.io/7.css/
 */
.page-craft-aero-panel {
  background: linear-gradient(90deg,hsla(0,0%,100%,.4),rgba(0,0,0,.1),hsla(0,0%,100%,.2)),linear-gradient(55deg,transparent,rgba(0,0,0,.1) 20%,rgba(0,0,0,.1) 50%,transparent 53%),#4580c4;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 6px;
  box-shadow: inset 0 0.5px #fff, 0 0 5px 1px rgb(0, 0, 0, 0.3);
}
